@use "../utils/variables" as vars;

.highlight {
  color: vars.$accent-color;
  font-weight: 600;
  background-color: rgba(255, 64, 129, 0.1); // léger fond accent
  padding: 2px 6px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: vars.$accent-color;
    color: vars.$text-on-primary;
    // cursor: default;
  }
}
